
/* http://meyerweb.com/eric/tools/css/reset/

   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr,
th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;

  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for
older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'aktiv-grotesk', sans-serif;
}
body p, body label, body span, body ol li, body ul li {
  font-family: 'aktiv-grotesk', sans-serif;
}
h2,h3,h4,h5,h6 {
  font-family: 'aktiv-grotesk';
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ end reset.css, begin jbase */

/* button & input reset */
button, input, select, textarea {
    background: none;
    border: 0;
    color: inherit;
    font-family: 'aktiv-grotesk';
    /* cursor: default; */
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -moz-appearance:button;
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button:focus,
input:focus,
textarea:focus,
select:focus,
summary:focus {
  outline:none;
}

/* Setup */

body {
  font-size: 16px;
  margin: 0;
  background-color: #eee;
}

.container {
  background-image: url('../public/media/dkbg.jpg');
  width: 100vw;
  min-height: 100vh;
  box-sizing:border-box;
  background-color: white;
  display:flex;
}

/* colors */
.bl {color: #0BBCD6;}
  .blbg {background-color: #0BBCD6}
.rd {color: #E6625E;}
  .rdbg {color: #E6625E;}
.wht {color: white;}
  .whtbg {background-color: white;}
.ltg {color: #ddd;}
  .ltgbg {background-color: #ddd;}

/* Login */

.logged-out button {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 45px;
  border: 1px solid #eee;
  background-color:white;
  cursor:pointer;
  font-family: 'aktiv-grotesk';
}
.logged-in nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

}
.logged-in nav button {
  padding: 20px 20px;
  border-right: 1px solid #eee;
  border-bottom:1px solid #eee;
  cursor: pointer;
  background-color: white;
  font-family: 'aktiv-grotesk';
  font-size:0.8em;
  max-width:max-content;
}


.fakelogin {
  display: flex;
}

.auth {
  display: flex;
  align-items: stretch;
  flex-direction:column;
}

.attempting,
.new,
.established-fail {
  background-color: white;
  display: flex;
  width: 350px;
  flex-grow:1;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

    /* fakeauth attempting & form styling */

.attempting {
  animation: expand 0.8s;
}

@keyframes expand {
  0% {opacity: 0; width:0;}
  10% {opacity: 100%;}
  100% {width:350px;}
}

.loginform {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginform input,
.signup input,
.intakeform input {
  display: block;
  border-bottom: 3px solid #0BBCD6;
  font-family:'aktiv-grotesk', sans-serif;
  font-size:1em;
  margin:15px 0;
  transition: 0.2s;
}

.loginform input,
.signup input {
  width: 100%;
}

.intakeform input {
  width: 80%;
  margin: 15px auto;
  text-align:center;
}

.loginform input:focus,
.signup input:focus,
.intakeform input:focus {
  border-color: #E6625E;
  transition: 0.2s;
}

.loginform button,
.signup button,
.oops button,
.intakeform button {
  font-size:1em;
  color: #555;
  font-family:'warnock pro';
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin: 15px 0 30px;
  transition: 0.2s;
  cursor: pointer;
}

.loginform button:hover,
.signup button:hover,
.oops button:hover,
.logged-out button:hover,
.logged-in nav button:hover,
.intakeform button:hover {
  background-color: #eee;
  transition: 0.2s;
}

.request-key {
  line-height: 1.5em;
  font-size:0.8em;
}

.requestlink {
  display: block;
  cursor: pointer;
  border-bottom: 3px solid #E6625E;
  text-align: center;
  font-family: 'warnock pro';
  font-size: 1.5em;
  font-style:oblique;
  margin-top: 5px;
}

    /* fakeauth new */
.signup label,
.intakeform label.sm {
  display: block;
  font-size:0.7em;
}

.signup-token {
  font-size: 3em;
  margin: 10px 0;
  font-weight: 900;
}

.new h6 {
  font-size: 0.8em;
  line-height: 1em;
  font-family: 'warnock pro';
  font-style: oblique;
}

    /* fakeauth fail */
.oops {
  text-align: center;
  width: 100%;
}

.oops h3 {
  font-size: 2em;
  font-family: 'warnock pro';
  font-style:oblique;
  line-height: 2em;
}


/* ====== DASHBOARD ====== */

.dash {
  display: flex;
  flex-grow:1;
  justify-content:center;
  align-items:flex-start;
  background-color:white;
  box-sizing:border-box;
}

.intakeform {
  padding:100px;
  box-sizing:border-box;
  background-color: white;
  text-align:center;
  display:flex;
}

.intakeform label {
  display:block;
}

.dashboard {
  flex-grow:1;
  background-color:white;
  min-height:100vh;
  max-width:1200px;
  margin-top:120px;
  display:flex;
  align-items:flex-start;
  padding:50px;
  box-sizing: border-box;
}

.left-dash {
  flex-grow: 3;
  display:flex;
  flex-direction:column;
  padding:25px;
  box-sizing: border-box;
}

.right-dash {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding:25px;
}

    /*==== meta === */

.nameandinfo h1 {
  font-size: 5em;
}

.nameandinfo .infolabel {
  background-color: black;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 2px;
}

.info {
  margin-bottom: 50px;
}

    /*==== settings ==== */

.settings {
  position: fixed;
  bottom: 20px;
  right:20px;
}

.settings button i {
  transition: 0.4s;
  padding: 10px;
  border: 1px solid #eee;
}

.settings button:hover i {
  cursor: pointer;
  color: #E6625E;
  transition: 0.4s;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px 1px #eee;
}

/* ==== NEW EVENT FORM === */
.newevent {
  background-color:white;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  /*border: 3px solid #eee;*/
  margin: 15px 0;
}

.newevent * {
  font-size: 16px;
  font-family:'aktiv-grotesk', sans-serif;
  line-height:1.5em;
}

.newevent {
  border-top: 3px solid #eee;
  border-left: 3px solid #eee;
}

.newevent input,
.newevent textarea,
.newevent select,
.newevent button {
  border-bottom: 3px solid #eee;
  border-right:3px solid #eee;
  padding: 5px 10px;
  transition: 0.5s;
}

.newevent input:focus,
.newevent textarea:focus,
.newevent select:focus {
  border-bottom: 3px solid #E6625E;
}

.newevent button:hover {
  cursor: pointer;
  border-bottom: 3px solid #E6625E;
  border-right: 3px solid #E6625E;
  background-color: #E6625E;
  color: white;
}

.newevent button {
  background-color: #eee;
}


select {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 0;
  border-radius:0;
}

.newevent .row {
  flex-direction: row;
  flex-grow:1;
  display: flex;
}

.newevent .eventname {
  flex-grow: 6;
}

.newevent .select, .newevent .date, .newevent .time {
  flex-grow: 1;
}

.newevent textarea {
  flex-grow: 1;
}

.newevent .addr {
  flex-grow: 10;
}

.newevent .city {
  flex-grow: 3;
}

.newevent .state {
  flex-grow: 1;
  width:50px;
}

.newevent .zip {
  flex-grow: 2;
  width:50px;
}

.newevent button {
  flex-grow: 1;
}

  /* ==== events == */

.individualevent {
  display: flex;
  flex-direction: column;
}

.eventrow {
  display: flex;
}
.descparams {
  padding: 5px 20px;
}
.timeanddate {
  background-color:black;
  color:white;
  padding: 0 10px;
}
.category {
  background-color:red;
  color:white;
  padding: 0 10px;
  margin-left: 10px;
}
.eventrow h1 {
  line-height: 65px;
  font-size: 2em;
}
.eventrow img {
  padding: 0 20px 0 0;
}
.eventrow {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.individualevent {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  margin: 25px;
}

.wide {
  justify-content: space-between;
}

.desc {
  font-size: 1.3em;
  margin: 15px;
}
.addr {
  padding: 0 10px 0 15px;
}

.established-events {
  max-height: 300px;
  overflow-y: scroll;
  font-size: 13px;
  border:3px solid #eee;
  background-color:white;
}

.events-container {
  background-color: #f3f3f3;
  padding:15px;
  box-sizing: border-box;
}


/* Initial */
.pagecontainer, .init {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 7;
}

.left {
  flex-grow: 1;
  display: flex;
  max-width: 50vw;
  padding: 50px;
  box-sizing: border-box;
}

.right {
  flex-grow: 1;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
}

.left h1 {
  color: white;
  font-size: 4em;
  text-align: right;
}

.right .input input {
  color: white;
  font-size: 2em;
  display: block;
  padding: 15px;
  border-bottom: 3px solid white;
  width: 25vw;
  text-align: center;
}

.right .input .ziplabel {
  font-size: 0.8em;
  margin: 15px;
}

@media screen and (min-width: 1000px) {
  .container {
  }
  body {font-size: 18px;}
}
